//@import 'css/normalize.css'
//@import 'css/main.css'
@import './mixin'
@import './jqueryui'
@import '../node_modules/nib/lib/nib'

@import './Karla:400:700'
@import './IndieFlower:400'

html body
  margin 0
  padding 0
  width 100%
  height 100%

body
  position: relative
  font-size 14px
  line-height 21px
  color #333
  background #f6f6f6
  background-image url('linen.jpeg')
  font-family "Karla", sans-serif
  font-weight 400
  //font-family "Helvetica Neue", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif !important


#navigation-box
  margin-top 0px;
  margin-bottom 8px


#main-nav
  
  padding-left 0px
  padding-right 8px
  background-image url(data:"image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAADCAIAAABee8vuAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB1JREFUeNpi/P79O8PgAyzMzMyD0FlMDIMSAAQYAC22AvZUamhbAAAAAElFTkSuQmCC")
  background-repeat repeat
  box-shadow 2px 2px 1px rgba(0,0,0,0.10)
#map-frame
  height 240px
  width 240px

  

#map
  height 220px
  margin 10px
  

//#map:-webkit-full-screen { width: 100% !important height: 100% !important }
//#map:-moz-full-screen { width: 100% !important height: 100% !important }
//#map:full-screen { width: 100% !important height: 100% !important }

#contentwrapper
  padding 0px 0px 20px 280px

#maincontent
  position: relative
  top 20px
  padding-bottom 40px

  .preview
    display: block
    padding 10px
    background #fff
    margin 10px
    width 200px
    background-image url(data:"image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAADCAIAAABee8vuAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB1JREFUeNpi/P79O8PgAyzMzMyD0FlMDIMSAAQYAC22AvZUamhbAAAAAElFTkSuQmCC")
    box-shadow 2px 2px 1px rgba(0,0,0,0.1)
    border 1px solid #DEDEDE
.description
  font-family 'Indie Flower', cursive
  font-size 18px
  line-height 19px
  //padding 0px 5px 0px 5px
.details-bottom
  padding-top 10px

.details-top
  padding 10px 0px 10px 0px

.image
  width 200px
  height 200px
  border-radius 2px
  display block
  position: relative
  img
    width 200px
    height 200px
    border-radius 2px
    display block
  .image-header
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.90)
    border-radius 2px
    color: #fff
    position: absolute
    top: 0px
    left: 0px
    right: 0px
    height: 60px
    padding: 8px
    vbg-gradient(rgba(0, 0, 0, 255), rgba(0, 0, 0, 0))
    text-align right
    font-size 12px
    line-height 12px
    opacity 0.4
  .image-footer
    border-radius 2px
    color: #fff
    position: absolute
    bottom: 0px
    left: 0px
    right: 0px
    padding: 8px
    //vbg-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 255))
    text-align right
    font-size 10px
    line-height 12px
    //opacity 0.2



#map-front
  background #fff
  background-image url(data:"image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAADCAIAAABee8vuAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB1JREFUeNpi/P79O8PgAyzMzMyD0FlMDIMSAAQYAC22AvZUamhbAAAAAElFTkSuQmCC")
  width 240px
  height 240px
  box-shadow 2px 2px 1px rgba(0,0,0,0.15)
  display block

#map-back
  display none 
  box-shadow 2px 2px 2px rgba(0,0,0,0.10)
  display block
  width 240px
  height 240px
  background #fff
  background-image url(data:"image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAADCAIAAABee8vuAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB1JREFUeNpi/P79O8PgAyzMzMyD0FlMDIMSAAQYAC22AvZUamhbAAAAAElFTkSuQmCC")

//#wrapper
//  absolute top 40px bottom 40px
//  position relative
//  width 100%

#sidebar
  position fixed 
  z-index: 100
  display: block
  width 240px
  //height 100%
  margin-left 20px

  input[type=search]
    margin-bottom 10px
  label
    display inline
    //padding-left 8px
  #categories
    position relative
    margin-top 10px
    padding-left 10px
    //bottom 20px
    //width 260px
  #map-holder
    position relative
    top 30px
    width 240px

#browse
  margin-top 8px
  //margin-top 20px
  //margin-bottom 20px
  //display none


.fadeout
  z-index 50
  position fixed
  left 0
  right 0
  height 20px

.bottom
  bottom 0
  vbg-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 255))

.top
  top 0
  vbg-gradient(rgba(255, 255, 255, 255), rgba(255, 255, 255, 0))


//.leaflet-control-zoom-fullscreen
//  background-image url("icon-fullscreen.png")

//.leaflet-control-zoom-fullscreen.last
//  margin top 5px
