@import 'normalize.css'
@import 'main.css'
@import './mixin'
@import './jqueryui'
@import '../node_modules/nib/lib/nib'

@import './Karla:400:700'
@import './IndieFlower:400'

html body
  margin 0
  padding 0
  width 100%
  height 100%

body
  position: relative
  font-size 14px
  line-height 21px
  color #333
  background #f6f6f6
  background-image url('linen.jpeg')
  font-family "Karla", sans-serif
  font-weight 400
  //font-family "Helvetica Neue", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif !important

#map-frame
  background #fff
  background-image url(data:"image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAADCAIAAABee8vuAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB1JREFUeNpi/P79O8PgAyzMzMyD0FlMDIMSAAQYAC22AvZUamhbAAAAAElFTkSuQmCC")
  //margin 10px
  height 260px
  box-shadow 2px 2px 1px rgba(0,0,0,0.15)

#map
  //width 240px
  height 240px
  top 10px
  //bottom 10px
  margin 10px
  

//#map:-webkit-full-screen { width: 100% !important height: 100% !important }
//#map:-moz-full-screen { width: 100% !important height: 100% !important }
//#map:full-screen { width: 100% !important height: 100% !important }

#contentwrapper
  //display:table-cell
  //position absolute
  padding 0px 20px 20px 280px
  //right: 20px
  //bottom 0px
  //right 0px
  //margin-top 40px
  //margin-left 20px
  //float left

#maincontent
  position: relative

  //display: none
  //bottom 0px
  //right 0px
  //top 0px
  //left 260px
  //relative left 320px

  .preview
    display: block
    padding 10px
    background #fff
    margin 10px
    background-image url(data:"image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAADCAIAAABee8vuAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB1JREFUeNpi/P79O8PgAyzMzMyD0FlMDIMSAAQYAC22AvZUamhbAAAAAElFTkSuQmCC")

    //position relative
    
    box-shadow 2px 2px 1px rgba(0,0,0,0.1)
    border 1px solid #DEDEDE
    img
      display: block
      width 200px
      border-radius 2px
      display block
      cursor pointer
      //float center
    .distance
      text-align right
      font-size 10px
      line-height 12px
    .description
      padding 0px 5px 0px 5px
      font-family 'Indie Flower', cursive
      font-size 18px
      line-height 21px
      width: 190px
    //.back
    //  display none

#wrapper
  absolute top 40px bottom 40px
  position relative
  width 100%
  //display: table
  //table-layout: fixed

#sidebar
  display: block
  //position absolute
  position fixed
  z-index: 100
  //relative left 40px
  width 240px
  //float left
  margin-left 20px
  //margin-top 10px
  
  button
    width 100%
    //float left
    height 20px
    font-weight 700
    //margin-bottom 10px
    //border-radius top 3px
  input[type=search]
    width 100%
    overlow: hidden
    //height 32px
    margin-bottom 10px
    //margin-left 10px
    //margin-right 10px
  #meters
    text-align right
    margin-top 5px
    margin-bottom 5px
    margin-right 10px
    font-weight 400
  #categories
    margin-top 10px
    margin-bottom 20px
    position fixed
    bottom 20px
    width 240px
  #map-holder
    position fixed
    top 40px
    width 240px
  //#slider
  //  position absolute
  //  left 80px
  //  top 40px
  //  z-index 999

#browse-button
  margin-top 20px
  box-shadow 2px 2px 1px rgba(0,0,0,0.1)
  #browse
    height: 32px
.fadeout
  z-index 50
  position fixed
  left 0
  right 0
  height 40px

.bottom
  bottom 0
  vbg-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 255))

.top
  top 0
  vbg-gradient(rgba(255, 255, 255, 255), rgba(255, 255, 255, 0))


//.leaflet-control-zoom-fullscreen
//  background-image url("icon-fullscreen.png")

//.leaflet-control-zoom-fullscreen.last
//  margin top 5px
